[Unit]
Description=JMX Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=jmxuser
Group=jmxuser
ExecStart=java -javaagent:/usr/local/bin/jmx_prometheus_javaagent-0.13.0.jar=8080:config.yaml -jar yourJar.jar

Restart=always

[Install]
WantedBy=multi-user.target